*
{
  font-family: Trebuchet, sans-serif;
  text-align: justify;
  color:rgb(33,24,63);
}
body
{
  margin: 0;
}
header a[href]
{
  font-style: normal;
  font-size: normal;
  text-decoration: none;
}
em
{
  font-style: normal;
  background-color:rgb(240,238,249);
  background-color:rgba(210,203,235,0.5);
}
header
{
  display: flex;
  flex-direction:row;
  padding-top: 3em;
  padding-bottom: 3.5em;
  background-color:rgb(233,228,245);
}
header ul
{
  list-style-type: none;
  width:65%;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  margin: 0;
}
#li_main
{
  min-width:310px;
  font-weight: bold;
  text-align: center;
}
#main
{
  margin-left: 2em;
  min-width:500px;
  width:90%;
}
#main li .nwk
{
  padding:3px;
  margin-right: 1em;
  margin-left: 1em;
  text-decoration: none;
  border:1px rgb(100,100,100) solid;
  border-radius: 4px;
}
#main .title
{
  background-color:rgb(240,238,249);
  background-color:rgba(210,203,235,0.5);
}
#main .school
{
  font-weight: bold;
}
#main .italic
{
  font-style: italic;
}
#main li .course
{
  font-style: italic;
}
.date
{
  color:rgb(82,61,156);
}
#main li li
{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
#main .emb
{
  padding:3px;
  text-decoration: none;
  border:1px rgb(100,100,100) solid;
  border-radius: 4px;
}
