*
{
  font-family: Trebuchet, sans-serif;
  text-align: justify;
  color:rgb(33,24,63);
}
body
{
  margin: 0;
}
header a[href]
{
  font-style: normal;
  font-size: normal;
  text-decoration: none;
}
em
{
  font-style: normal;
  background-color:rgb(240,238,249);
  background-color:rgba(210,203,235,0.5);
}
header
{
  display: flex;
  flex-direction:row;
  padding-top: 3em;
  padding-bottom: 3.5em;
  background-color:rgb(233,228,245);
}
header ul
{
  list-style-type: none;
  width:65%;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  margin: 0;
}
#li_main
{
  min-width:310px;
  font-weight: bold;
  text-align: center;
}
#main
{
  margin-left: 2em;
  min-width:500px;
  width:90%;
}
#main .legend
{
  display: flex;
  flex-direction:row;
  /* justify-content: space-between; */
  list-style: none;
}
#main .legend li
{
  margin-right: 3em;
}
#main li::before
{
  content: "\25AA";
  font-size: 2.5em;
  margin-right: 0.1em;
}
#main li.journal::before
{
  color:rgb(231,12,88);
  vertical-align:middle;
}
#main li.proc::before
{
  color:rgb(52,99,169);
  vertical-align:middle;
}
#main li.these::before
{
  color:rgb(255,201,14);
  vertical-align:middle;
}
#main li.other::before
{
  color:rgb(128,128,128);
  vertical-align:middle;
}
#main .papers
{
  list-style: none;
}
.title
{
  font-style: italic;
}
#main .papers li a
{
  padding:3px;
  margin-right: 1em;
  margin-left: 1em;
  text-decoration: none;
  border:1px rgb(100,100,100) solid;
  border-radius: 4px;
}
#main .papers li p
{
  margin-top: 0.5em;
}
